POSTGRES_USER=level2
POSTGRES_PASSWORD=level2_change_me
POSTGRES_DB=level2
PLC_OPC_ENDPOINT=opc.tcp://10.14.10.16:4840
OPC_UA_USERNAME=
OPC_UA_PASSWORD=
# PLC-off: in-memory browse/expand tree (set 0 when real PLC is on)
LEVEL2_SIM_BROWSER=1
