# OPC UA endpoint контроллера (S7-1500)
PLC_OPC_ENDPOINT=opc.tcp://10.14.10.16:4840

# Те же логин/пароль, что в UaExpert (не коммитьте реальный .env!)
OPC_UA_USERNAME=your_opc_user
OPC_UA_PASSWORD=your_opc_password

# TimescaleDB / PostgreSQL
POSTGRES_USER=level2
POSTGRES_PASSWORD=level2_change_me
POSTGRES_DB=level2

# Grafana (браузер http://<IP-VM>:3000)
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin_change_me
