# OPC UA endpoint of the PLC (S7-1500)
PLC_OPC_ENDPOINT=opc.tcp://10.14.10.16:4840

# Same username/password as in UaExpert (do not commit a real .env!)
OPC_UA_USERNAME=your_opc_user
OPC_UA_PASSWORD=your_opc_password

# TimescaleDB / PostgreSQL
POSTGRES_USER=level2
POSTGRES_PASSWORD=level2_change_me
POSTGRES_DB=level2

# Grafana (browser http://<VM-IP>:3000)
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin_change_me
